<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.xh.proxy.MyApplication"
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xh.proxy.MainActivity"
            android:icon="@drawable/ico_qpp_s"
            android:label="fist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- name：组件名字 -->
        <!-- enabled：该组件是否启动 -->
        <!-- icon：组件图标 -->
        <!-- label：组件标签说明 -->
        <!-- targetActivity：组件的类 -->
        <activity-alias
            android:name="com.xh.proxy.MainActivity2"
            android:enabled="false"
            android:icon="@drawable/first"
            android:label="first"
            android:targetActivity="com.xh.proxy.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.xh.proxy.MainActivity3"
            android:enabled="false"
            android:icon="@drawable/second"
            android:label="second"
            android:targetActivity="com.xh.proxy.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name="com.xh.proxy.ProxyActivity" >
        </activity>
    </application>

</manifest>
